#imgContainer {
    background-image: url(joel-muniz-QadWZdWSe_8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
}

#topNavbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#topNavbar2 {
    width: 100%;
    background-color: black;
}

.navbar-brand>img {
    padding-left: 20px;
}

.nav-item {
    padding: 0 10px 0 10px;
}

.dropbtn {
    background-color: rgba(43, 43, 43, 0.3);
    color: white!important;
    font-family: 'Quicksand', sans-serif;
    margin-right: 40px;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-bottom: 3px solid white!important;
}

.dropbtn:hover {
    background-color: white;
    color: black!important;
    border: none;
    border-bottom: 3px solid black!important;
}

.dropbtn:active {
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: black;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.text-end {
    padding-right: 20px;
}

.text-end button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}
/* ---------- nav ends ---------- */

/* ---------- news ticker ---------- */

.tcontainer {
    width: 100%;
    overflow: hidden;
}

.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
  
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
}

.ticker-move:hover{
    animation-play-state: paused; 
}

.ticker-item{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    color: white;
    display: inline-block; 
    padding: 5px 5rem;
}

/* ---------- news ticker ends ---------- */

/* ---------- digital covers ---------- */

.dc-top {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: black;
}

#dc-sides-h5 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    padding: 10px 5px;
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 10px!important;
}

.dc-sides {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dc-scroll {
    display: flex!important;
    overflow: hidden;
    height: 70vw;
}

.dc-scroll img {
    max-width: 100%;
    vertical-align: middle;
    padding: 20px 0;
    box-sizing: border-box;
    transition: opacity .2s;
}

.dc-scroll:hover img {
    opacity: 0.5;
}
   
.dc-scroll img:hover {
    opacity: 1;
}
   
.dc-scroll .img-column {
   animation: var(--animation, none) 20s infinite linear;
}
   
.dc-scroll .img-column:hover {
   animation-play-state: paused;
}
   
.dc-scroll .img-column:nth-of-type(odd) {
    align-self: flex-end;

}
   
@keyframes slide {
    to {
      -webkit-transform: translateY(var(--direction, -50%));
              transform: translateY(var(--direction, -50%));
    }
}

#dc-article {
    flex: 0;
    display: inline-flex;
}

#dc-article-img {
    background-image: url(dc-article-demo.jpg);
    background-repeat: no-repeat;
    height: auto;
}

#dc-article-rest {
    width: 50%; 
}

/* ---------- digital covers ends ---------- */ 