#imgContainer {
    background-image: url(joel-muniz-QadWZdWSe_8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#topNavbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#topNavbar2 {
    width: 100%;
    background-color: black;
}

.navbar-brand>img {
    padding-left: 20px;
}

.nav-item {
    padding: 0 10px 0 10px;
}

.dropbtn {
    background-color: rgba(43, 43, 43, 0.3);
    color: white!important;
    font-family: 'Quicksand', sans-serif;
    margin-right: 40px;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-bottom: 3px solid white!important;
}

.dropbtn:hover {
    background-color: white;
    color: black!important;
    border: none;
    border-bottom: 3px solid black!important;
}

.dropbtn:active {
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: black;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.text-end {
    padding-right: 20px;
}

.text-end button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}
/* ---------- nav ends ---------- */

/* ---------- news ticker ---------- */

.tcontainer {
    width: 100%;
    overflow: hidden;
}

.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
  
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
}

.ticker-move:hover{
    animation-play-state: paused; 
}

.ticker-item{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    color: white;
    display: inline-block; 
    padding: 5px 5rem;
}

/* ---------- news ticker ends ---------- */

/* ---------- digital covers ---------- */

.dc-top {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: black;
}

#dc-sides-h5 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    padding: 10px 5px;
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 10px!important;
}

.dc-sides {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dc-scroll {
    display: flex!important;
    overflow: hidden;
    height: 70vw;
}

.dc-scroll img {
    max-width: 100%;
    vertical-align: middle;
    padding: 20px 0;
    box-sizing: border-box;
    transition: opacity .2s;
}

.dc-scroll:hover img {
    opacity: 0.5;
}
   
.dc-scroll img:hover {
    opacity: 1;
}
   
.dc-scroll .img-column {
   animation: var(--animation, none) 20s infinite linear;
}
   
.dc-scroll .img-column:hover {
   animation-play-state: paused;
}
   
.dc-scroll .img-column:nth-of-type(odd) {
    align-self: flex-end;

}
   
@keyframes slide {
    to {
      -webkit-transform: translateY(var(--direction, -50%));
              transform: translateY(var(--direction, -50%));
    }
}

#dc-article {
    flex: 0;
    display: inline-flex;
}

#dc-article-img {
    background-image: url(dc-article-demo.jpg);
    background-repeat: no-repeat;
    height: auto;
}

#dc-article-rest {
    width: 50%;
}

/* ---------- digital covers ends ---------- */

/* ---------- album review page content ---------- */

#album-land {
    margin: 0 auto;
    padding: 0px;
}

#album-land .row {
    margin: 0 auto;
    padding: 0px;
    display: inline-flex;
}

#album-land .row .col-6 {
    margin: 0 auto;
    padding: 0px;
}

#album-land-left {
    border-right: .5px solid white;
    float: left;
}

#album-land-right {
    border-left: .5px solid white;
    float: right;
}

#album-land img {
    width: 100%;
    height: auto;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    margin: 0;
    padding: 30px 0 30px 100px;
    color: black;
    border-bottom: 3px solid black;
}

h4 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    padding-top: 30px;
    color: black;
    flex: 1;
}

#newest-release {
    text-align: right;
}

#album-h5 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: black;
    padding: 10px 5px;
    margin-bottom: 0px;
    background-color: rgb(235, 235, 235);
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 10px!important;
}

.album-middle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.album-reviews-container {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}

.album-left {
    width: 45%;
    float: left;
    margin-left: 75px;
}

.album-right {
    width: 45%;
    float: right;
    margin-right: 75px;
}

.album {
    width: 100%;
    flex: 0;
    border-right: 5px solid black;
    margin-top: 50px;
    margin-bottom: 0;
}

.album-top {
    display: inline-flex;
}

.album-date {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

h6 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    color: black;
}

#album-date-top {
    font-size: 1.5rem;
    padding-top: 30px;
}

#album-date-bottom {
    padding-right: 10px;
    margin-bottom: 0 auto;
}

.album-title {
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: black;
    letter-spacing: 20px;
}

.album-bottom {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
}

.album-artist {
    height: 60.1%;
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-cover {
    width: 100%;
    position: relative;
    z-index: 1;
}

.album-cover>img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
}

#album-layer {
    position: relative;
    bottom: -602px;
    z-index: 3;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    background-color: white;
    padding: 20px 60px 20px 100px;
    margin-left: -101px;
    letter-spacing: 5px;
    border-top: 5px solid black;
}

#album-layer::after {
    content: '';
    width: 662 px;
    height: 5px;
    background: black;
    position: absolute;
    left: 101px;
    bottom: -5px;
}

/* ---------- footer ---------- */

footer {
    background-color: black;
    padding: 20px;
}

footer nav {
    margin-bottom: 20px;
}

#footerAlpha {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

#footerAlpha li {
    float: left;
}

#footerAlpha li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}

footer .form-control {
    border: none;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 15px;
    float: left;
}

.form-control::placeholder {
    color: white;
}

footer img {
    width: 400px!important;
    margin-left: 130px;
}

h2 {
    color: white;
    font-size: 2rem;
    text-decoration: underline 5px;
    padding-bottom: 10px;
    text-align: center;
}

label {
    display: inline-block;
}

#floatingInput {
    border: none;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

#floatingInput::placeholder {
    color: white;
}

.input-group-btn {
    padding-left: 10px;
}

.input-group-btn button {
    border: none;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 15px;
}

.input-group-btn button:hover {
    color: rgb(20, 20, 20);
    background-color: white;
}

#floatingInputLabel {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

footer a {
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

#footerUL {
    list-style-type: none;
}

footer li {
    margin-bottom: 10px;
}